<p id="notice"><%= notice %></p>
<h1>SE2 UNAL</h1>
<h1>Welcome to our gitworkflow practice</h1>

<p><%= link_to 'Users', users_path%></p>
<p><%= link_to 'Posts', posts_path%></p>
<p><%= link_to 'Comments', comments_path%></p>
<p><%= link_to 'Images', images_path%></p>
