<%= form_for(image, :url => comment_images_path(params[:comment_id])) do |f| %>
  <% if image.errors.any? %>
    <div id="error_explanation" class="">
      <h2 class="text-danger"><%= pluralize(image.errors.count, "error") %> prohibited this image from being saved:</h2>

      <ul>
      <% image.errors.full_messages.each do |message| %>
        <li class="text-danger"><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="form-group">
      <div class="field">
        <%= f.label :image %>
        <%= f.text_area :image %>
      </div>
    </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
