<!DOCTYPE html>
<html>
  <head>
    <title>GitWorkflow</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <%= link_to 'SE II', root_path%>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><%= link_to 'Home', root_path%></li>
          <li><%= link_to 'Users', users_path%></li>
          <li><%= link_to 'Posts', posts_path%></li>
          <li><%= link_to 'Images', images_path%></li>
        </ul>
      </div>
    </nav>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
